@model List<Customer>
@{
    ViewData["Title"] = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers Table</h2>

@Html.ActionLink("Add Customer", "New", "Customers", new { }, new { @class = "btn btn-default" })
<br />
<br />
@{
    if (Model.Count == 0)
    {
        <text>No customers have been found in database.</text>
    }
    else
    {
        <table id="customers" class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Birth Date</th>
                    <th>Membership</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var customer in Model)
                {
                    <tr>
                        <td>@customer.Id</td>
                        <td>@Html.ActionLink(customer.Name, "Edit", "Customers", new { id = customer.Id })</td>
                        <td>
                            @if (customer.BirthDate != null)
                            {
                                <text>@customer.BirthDate.Date.ToShortDateString()</text>
                            }
                        </td>
                        <td>@customer.MembershipType.Name</td>
                        <td><button data-customer-id="@customer.Id" class="btn btn-primary js-delete">Delete</button></td>

                    </tr>
                }
            </tbody>
        </table>
    }


    @section Scripts
        {


        @*DataTables imports adapted for bootstrap styling*@
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.18/datatables.min.css" />
        <script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.18/datatables.min.js"></script>

        <script>

            $(document).ready(function () {

                //enable DataTable framework at 'customers' table - just one line of code!
                var table = $('#customers').DataTable(); 

                $("#customers").on("click", ".js-delete", function () {
                    var button = $(this);

                    if (confirm("Are you sure you want to delete this customer?")) {

                        $.ajax({
                            url: "/api/customers/" + button.attr("data-customer-id"),
                            method: "DELETE",
                            success: function () {
                                //button.parents("tr").remove();
                                table.row(button.parents("tr")).remove().draw()
                            }
                        })
                    }
                })
            });
        </script>
    }
}
